{% extends "app/layout.html" %}

{% block content %}
</div>
</div>
<hr/>



<div class="blog">
			<div class="container">
				<div class="blog-content">
					<div class="container">
					<div class="blog-content-left">
						<div class="blog-articals">
						<div class="blog-artical">
							<div class="blog-artical-basicinfo">
								<ul>
									<li class="post-date"><p><h6><span>  06.06.2020 </span></h6><label></label></p></li>
									<div class="clearfix"> </div>
								</ul>
							</div>
							<div class="blog-artical-info">
                                
								<div class="blog-artical-info-img">
								<video src="/media/vidos.mp4" controls="controls" width="640" height="360" />
								</div>
								<div class="blog-artical-info-head">
									<h2>Крутой ноутбук - обзор, тесты, игры!</h2>
									<ul>
										<li><span> </span>by <a href="#">boobleac</a></li>
										<li><span class="tag"> </span><a href="#">Lorem</a>,<a href="#">Ipsum</a>,<a href="#">Printer</a>,<a href="#">Unknown</a></li>
										<div class="clearfix"> </div>
									</ul>
								</div>
								
								<div class="blog-artical-info-text">
									<p>описание</p>
								</div>
							</div>
							<div class="clearfix"> </div>
                            <div class="blog-artical-info">
                                
								<div class="blog-artical-info-img">
								<video src="/media/2video.mp4" controls="controls" width="640" height="360" />
								</div>
								<div class="blog-artical-info-head">
									<h2>Самая мощная видеокарта от nVidia - RTX2080 Ti</h2>
									<ul>
										<li><span> </span>by <a href="#">boobleac</a></li>
										<li><span class="tag"> </span><a href="#">Lorem</a>,<a href="#">Ipsum</a>,<a href="#">Printer</a>,<a href="#">Unknown</a></li>
										<div class="clearfix"> </div>
									</ul>
								</div>
								
								<div class="blog-artical-info-text">
									<p>описание</p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
                    </div>
                        <div class="blog-pagenat">
					<ul class="dc_pagination dc_paginationA dc_paginationA06">
					  <li><a href="#" class="current">Prev</a></li>
					  <li><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					  <li><a href="#">...</a></li>
					  <li><a href="#">19</a></li>
					  <li><a href="#">20</a></li>
					  <li><a href="#" class="current">NEXT</a></li>
		       		</ul>
				</div>
  </div>  
                        					<div class="blog-content-right">
						<div class="b-search">
							<form>
								<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
								<input type="submit" value="">
							</form>
						</div>
						<!--start-twitter-weight-->
						<div class="categories">
								 		<h3>CATEGORIES</h3>
								 		<div class="list styled arrow-list2">
											<ul>
												<li><a href="#"><img src="images/ar.png" alt="">Condimentum tellus tellus</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">Duis vel nisifes</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">Lorem ipsum dolor sit amet</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">Netus et malesuada fames</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">Tincidunt tellus id euismod</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">Lorem ipsum dolor sit amet</a></li>
											</ul>
										</div>

						<!-- //End-tag-weight-->
					</div>
						<div class="Archives">
								 		<h3>Archives</h3>
								 		<div class="list styled arrow-list2">
											<ul>
												<li><a href="#"><img src="images/ar.png" alt="">March, 2014</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">April, 2014</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">May, 2014</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">March, 2014</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">June, 2014</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">July, 2014</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">August, 2014</a></li>
												<li><a href="#"><img src="images/ar.png" alt="">semptember, 2014</a></li>
											</ul>
										</div>

						<!-- //End-tag-weight-->

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
{% endblock %}